/*
font-family: 'Work Sans', sans-serif;
font-family: LarishNeu;
*/
@font-face {
  font-family: LarishNeu;
  src: url(../font/LarishNeueSemibold.woff);
}
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Page Setting */
* {
  margin: 0;
  padding: 0;
}

body,
footer p:nth-of-type(1) {
  font-family: LarishNeu;
}

h6,
h3,
p,
span:not(h1 > span, footer h5 span) {
  font-family: "Work Sans", sans-serif;
  font-size: 1.3em;
  font-weight: 400;
}

button {
  height: 3.5em;
  width: 8em;
  background-color: transparent;
  color: #fff;
  font-size: 1.1em;
  font-weight: 700;
  border: 1px solid #fff;
  transition: all ease 0.8s;
}

button:hover {
  background-color: #fff;
  color: #000;
}
/* HERO */
#hero {
  height: 100vh;
  background-color: #000;
  color: #fff;
  text-align: center;
}
#hero h1 > .stroked {
  color: #000;
  -webkit-text-stroke: 1px #fff;
}
#hero svg:first-of-type {
  width: fit-content;
  height: 30%;
  margin-left: 21%;
}
#hero article {
  margin-top: 2%;
}
#hero h1 {
  font-size: 6em;
  line-height: 1em;
  margin: 2%;
}
#hero aside {
  display: flex;
  margin-top: 8%;
}
#hero aside img {
  width: 5%;
  margin-left: 10%;
}
#hero button {
  margin-left: 65%;
  margin-top: -2%;
}

/* Facts */
#facts {
  height: 200vh;
  background-color: #000;
  color: #fff;
  padding: 20% 0 0 10%;
}
#facts h2,
h2 {
  font-size: 6.3em;
  width: 90%;
  line-height: 1em;
  padding-top: 2%;
}
#facts article {
  padding-top: 10%;
  height: 75vh;
  background-image: url(../img/map.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Gallery */

.gallery {
  display: grid;
  height: 260vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(15, 8vw);
  grid-gap: 15px;
  position: relative;
}

.gallery a {
  display: none;
}

.scrolling-wrapper {
  display: grid;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item--1 {
  position: absolute;
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 3;
  top: -30%;
}

.gallery__item--2 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  position: absolute;
}

.gallery__item--3 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 5;
  grid-row-end: 7;
  position: absolute;
}

.gallery__item--4 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 9;
  position: absolute;
}

.gallery__item--5 {
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 9;
  grid-row-end: 11;
  position: absolute;
}

.gallery__item--6 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 11;
  grid-row-end: 13;
  position: absolute;
}

.gallery__item--7 {
  position: absolute;
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 13;
  grid-row-end: 15;
  z-index: 1;
}

.gallery article {
  grid-column-start: 5;
  grid-column-end: 11;
  grid-row-start: 4;
  grid-row-end: 6;
  width: 80%;
  font-size: 0.9em;
  position: relative;
}

.gallery .firstp {
  font-size: 1.1em;
  padding: 2% 0;
  width: 70%;
  line-height: 1.8em;
}

.gallery .secondp {
  grid-column-start: 5;
  grid-column-end: 11;
  grid-row-start: 11;
  grid-row-end: 13;
  font-size: 1.1em;
  line-height: 1.8em;
  width: 65%;
}

/* Golden B E A R S */

#goldenBears {
  position: relative;
  height: 185vh;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: wrap;
  z-index: 0;
}
#goldenBears aside:nth-of-type(1) {
  margin: 15% -2% 15% 10%;
  width: 40%;
}
#goldenBears aside:nth-of-type(2) {
  margin-top: 18%;
  width: 39%;
}
#goldenBears aside p {
  font-family: LarishNeu;
  font-size: 1.8em;
  line-height: 1.3em;
  padding-bottom: 5%;
}
#goldenBears img:nth-of-type(1) {
  position: absolute;
  z-index: 1;
  width: 53vw;
  top: 58%;
  left: 13%;
}
#goldenBears img:nth-of-type(2) {
  position: absolute;
  width: 30vw;
  z-index: 5;
  top: 65%;
  right: 10%;
}

/* Poppy  B E A R */
#poppyBear {
  height: 240vh;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.animationWrapper {
  text-align: right;
  position: relative;
  top: -6.5%;
  right: -9.3%;
  z-index: -5;
  width: 100%;
}
.rotate {
  animation: rotate;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 30%;
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
#poppyBear img:not(.rotate) {
  position: absolute;
}
#poppyBear aside:nth-of-type(1) {
  margin: -45% 0 0 10%;
  width: 40%;
}
#poppyBear aside:nth-of-type(2) {
  margin-top: -42%;
  width: 39%;
}
#poppyBear aside p {
  font-family: LarishNeu;
  font-size: 1.8em;
  line-height: 1.3em;
  padding-bottom: 5%;
}
#poppyBear .rosebear {
  top: 50%;
  left: 40%;
  width: 50%;
  z-index: 0;
}
#poppyBear .pb3 {
  top: 58%;
  left: 19%;
  width: 27%;
  z-index: 1;
}

/* Footer */
footer {
  position: relative;
  display: flex;
  flex-wrap: column;
  background-color: #000;
  height: 110vh;
  color: #fff;
  overflow: hidden;
}
footer aside:nth-of-type(1) {
  padding: 10% 0 0 10%;
}
footer p:nth-of-type(1) {
  width: 45%;
  font-size: 1.9em;
  padding: 2% 0;
}
footer .firstUl {
  margin: 7% 0;
}
footer ul li {
  padding-right: 1%;
  display: inline;
  list-style-type: none;
}
footer li a img {
  width: 2.5%;
}
footer ul h6 {
  font-size: 1em;
  padding-top: 1%;
}
footer figure {
  position: absolute;
  top: 80%;
  left: 75%;
}
figure img {
  width: 30%;
}
footer h6 {
  line-height: 2em;
}
footer .banderolle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 5.4em;
  width: 180%;
  height: 13vh;
  background-color: #fff;
  color: #000;
  transform: translateY(500%) translateX(0) rotate(45deg);
}
footer h5 {
  animation: 4s linear 0s infinite alternate move;
  text-align: right;
}
footer h5 span {
  font-family: LarishNeu;
  color: #fff;
  -webkit-text-stroke: 1px #000;
  text-align: right;
}
@keyframes move {
  from {
    transform: translate3d(0%, 0%, 0px);
  }
  to {
    transform: translate3d(-30%, 0%, 50px);
  }
}

/* Media Queries */
@media only screen and (min-device-width: 410px) and (max-device-height: 896px) and (max-device-width: 578px) and (-webkit-device-pixel-ratio: 2) {
  h6,
  h3,
  p,
  span:not(h1 > span, footer h5 span) {
    font-family: "Work Sans", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
  }

  /* HERO */
  #hero {
    height: 50vh;
    background-color: #000;
    color: #fff;
  }
  #hero svg:first-of-type {
    display: none;
  }
  #hero article {
    padding-top: 5%;
    margin: 0;
    line-height: 1.8em;
  }
  #hero h1 {
    font-size: 2.8em;
    line-height: 1em;
    margin: 10%;
  }
  #hero aside {
    display: flex;
    margin-top: 8%;
  }
  #hero aside img {
    width: 15%;
    margin-left: 10%;
  }
  #hero button {
    margin-left: 40%;
    margin-top: -2%;
    height: 3em;
    width: 6em;
    font-size: 1em;
  }

  /* Facts */
  #facts {
    height: 75vh;
  }
  #facts h2,
  h2 {
    font-size: 2.2em;
    width: 95%;
    line-height: 1em;
    padding-top: 2%;
  }
  #facts article {
    height: 31vh;
    background-image: url(../img/map.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* Gallery */
  .gallery {
    height: 140vh;
    display: inline-block;
    overflow: hidden;
  }
  .scrolling-wrapper {
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .gallery > a {
    font-family: "Work Sans", sans-serif;
    color: #00000060;
    font-size: 0.7em;
    font-weight: 800;
    display: block;
    text-align: center;
    margin-top: 15%;
  }

  .scrolling-wrapper > figure {
    box-sizing: border-box;
    overflow: hidden;
  }
  .card {
    display: inline-block;
    position: relative;
    width: 120%;
    height: 100%;
  }
  .gallery__img {
    display: inline-block;
    width: 110%;
    height: 100%;
    object-fit: cover;
    margin: 0;
  }
  .gallery article {
    margin: 10% auto;
    font-size: 1.5em;
    width: 77%;
  }
  .gallery .firstp {
    font-size: 0.7em;
    padding: 2% 0;
    width: 90%;
    line-height: 1.8em;
    text-align: justify;
  }
  .gallery .secondp {
    margin: 10% auto;
    font-size: 1.1em;
    width: 85%;
    text-align: justify;
    line-height: 1.8em;
  }

  /* Golden B E A R S */
  #goldenBears {
    position: relative;
    height: 125vh;
    background-color: #000;
    color: #fff;
    display: block;
    overflow: hidden;
  }
  #goldenBears aside:nth-of-type(1) {
    margin: 10% auto;
    margin-left: 5%;
    padding-top: 10%;
    width: 40%;
  }
  #goldenBears aside:nth-of-type(2) {
    margin: 0 auto;
    width: 90%;
  }
  #goldenBears aside p {
    font-family: LarishNeu;
    font-size: 1.5em;
    line-height: 1.3em;
    padding-bottom: 5%;
    text-align: justify;
  }
  #goldenBears img:nth-of-type(1) {
    position: absolute;
    z-index: 1;
    width: 100vw;
    top: 65%;
    left: -22%;
  }
  #goldenBears img:nth-of-type(2) {
    position: absolute;
    width: 77vw;
    z-index: 5;
    top: 65%;
    right: -30%;
  }

  /* Poppy  B E A R */
  #poppyBear {
    height: 165vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .animationWrapper {
    text-align: right;
    position: relative;
    top: -3%;
    right: -11%;
    z-index: -1;
    width: 100%;
  }
  .rotate {
    width: 50%;
  }

  #poppyBear aside:nth-of-type(1) {
    margin-top: -35%;
    width: 40%;
  }
  #poppyBear aside:nth-of-type(2) {
    margin: 5% auto;
    width: 90%;
  }
  #poppyBear aside p {
    font-family: LarishNeu;
    text-align: justify;
    font-size: 1.3em;
    padding-bottom: 5%;
  }

  #poppyBear .pb3 {
    top: 41%;
    left: 0%;
    width: 100%;
    z-index: 0;
  }

  #poppyBear .rosebear {
    top: 73%;
    left: 0%;
    width: 100%;
    z-index: 1;
  }

  /* Footer */
  footer {
    position: relative;
    display: flex;
    flex-wrap: column;
    background-color: #000;
    height: 70vh;
    color: #fff;
    overflow: hidden;
  }
  footer aside:nth-of-type(1) {
    padding: 20% 0 0 10%;
  }

  footer p:nth-of-type(1) {
    margin-bottom: 8%;
    width: 85%;
    font-size: 1.2em;
    text-align: justify;
  }

  footer ul li {
    padding-right: 0%;
    display: inline-block;
    list-style-type: none;
  }
  footer li a img {
    width: 40%;
  }
  footer ul h6 {
    font-size: 0.7em;
    padding-top: 1%;
  }
  figure img {
    width: 45%;
  }
  footer button {
    height: 3em;
    width: 6em;
    font-size: 1em;
  }

  footer .banderolle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 2em;
    width: 230%;
    height: 4.5vh;
    background-color: #fff;
    color: #000;
    transform: translateY(860%) translateX(-12%) rotate(-33deg);
  }
}
